<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>Student Schedule</title>

    	<!--  CSS File along with Boostrap, and Bootstrap Icon Styles-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="jquery-3.6.3.min.js"></script>
         


</head>


<body>
  <div id="vue.app">

  <h1> {{Chris School Schedule}}</h1>
     <div class = "row">
        <div class = "col-3">
        </div>
          <div class="col-6">
                  <p class ="Let" @click="toggleA">A</p>
                  <p class="Let" @click="toggleB">B</p>
                  <p class="Let" @click="toggleC">C</p>
                  <p class="Let" @click="toggleD">D</p>
                  <p class="Let" @click="toggleE">E</p>
                  <p class="Let" @click="toggleF">F</p>
                  <p class="Let" @click="toggleG">G</p>
        
        </div>
                    <div class = "col-3">
              

              </div>
     </div>
 <div class = "row">
    <div class = "col-3">
    </div>

<div class = "col-6">
                <table class = "theschedule">

<tr>

        <th> Class Name </th>
    <th> Teacher Name </th>
       <th>  Room Number </th>
    <th> Days  </th>

</tr>
<tr v-for="(schedule, index) in schedules">
      <td v-if="schedules[index].isActive">
   {{schedules[index].class_name}}
  </td>
               <td v-if="schedules[index].isActive">
    {{schedules[index].teacher_name}}
  </td>
         <td v-if="schedules[index].isActive">
    {{schedules[index].room_number}}
  </td>
           <td v-if="schedules[index].isActive">
    {{schedules[index].days}}
  </td>

</tr>
</table>

</div>

                          <div class = "col-3">
  
</div>
</div>


                    <script type = "text/javascript" src="schedule.js"></script>

</div>



</body>
</html>